{% extends 'base.html.twig' %}

{% block title %}Hello AdvertRappelController!{% endblock %}

{% block body %}
    {# Les lignes de code généré par make:controller
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ 'C:/wamp64/www/rappelsfcalc/src/Controller/AdvertRappelController.php'|file_link(0) }}">src/Controller/AdvertRappelController.php</a></code></li>
        <li>Your template at <code><a href="{{ 'C:/wamp64/www/rappelsfcalc/templates/advert_rappel/index.html.twig'|file_link(0) }}">templates/advert_rappel/index.html.twig</a></code></li>
    </ul>
</div>
#}
    <h1>Hello World by {{ name }}</h1>
    <p>
        Le Hello World est un grand classique en  programmation. <br>
        Il signifie énormément, car cela ceut dire que vous avez <br>
        réussi à exécuter le programme pour accomplir une tâche simple: <br>
        afficher ce hello world! <br>
    </p>
    <h1>L'url de l'annonce d'id 5 est {{ url }}</h1>


{% endblock %}
